
AplicacionCentral/.vs/

Investigacion4_bibliotecas/.vs/

AplicacionCentral/obj/Debug/net5.0-windows/AplicacionCentral.dll

AplicacionCentral/obj/Debug/net5.0-windows/AplicacionCentral.pdb

AplicacionCentral/bin/Debug/net5.0-windows/AplicacionCentral.dll

AplicacionCentral/bin/Debug/net5.0-windows/AplicacionCentral.pdb
